# NLP - Regular Expression Exercise - w3schools

## 1. Import regular expression module

In [1]:
import re

## 2. Search the string to see if it starts with "The" and ends with "Spain"

In [2]:
txt = "The rain in Spain"
txt

'The rain in Spain'

In [3]:
x = re.search("^The.*Spain$", txt)
print(x)

<re.Match object; span=(0, 17), match='The rain in Spain'>

In [4]:
if (x):
  print("YES! We have a match!")
else:
  print("No match")

YES! We have a match!

In [5]:
txt="Jack & Jill went up the hill."
txt

'Jack & Jill went up the hill.'

In [6]:
y = re.search("^Jack.*hill$", txt)
print(y)

None

In [7]:
if (y):
  print("YES! We have a match!")
else:
  print("No match")

No match

## 3. Print a list of all matches using the findall( ) function

In [8]:
txt = "The rain in Spain"
txt

'The rain in Spain'

In [9]:
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [10]:
txt="When in Rome, be a Roman."
txt

'When in Rome, be a Roman.'

In [11]:
y=re.findall("Rom",txt)
print(y)

['Rom', 'Rom']

## 4. Return an empty list if no match was found

In [12]:
txt = "The rain in Spain"
txt

'The rain in Spain'

In [13]:
x = re.findall("Portugal", txt)
print(x)

[]

In [14]:
if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

No match

In [15]:
txt="Too many cooks, spoil the broth."
txt

'Too many cooks, spoil the broth.'

In [16]:
y=re.findall("cooks",txt)
print(y)

['cooks']

In [17]:
if (y):
  print("Yes, there is at least one match!")
else:
  print("No match")

Yes, there is at least one match!

## 5. Search for the first white-space character in the string using the search( ) function

In [18]:
txt = "The rain in Spain"
txt

'The rain in Spain'

In [19]:
x = re.search("\s", txt)
print(x)

<re.Match object; span=(3, 4), match=' '>

In [20]:
print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [21]:
txt="Ours is a neverending story."
txt

'Ours is a neverending story.'

In [22]:
y = re.search("\s", txt)

In [23]:
print("The first white-space character is located in position:", y.start())

The first white-space character is located in position: 4

## 6. If no matches are found, the value None is returned

In [24]:
txt = "The rain in Spain"
txt

'The rain in Spain'

In [25]:
x = re.search("Portugal", txt)
print(x)

None

In [26]:
txt = "To err is human, to forgive, divine."
txt

'To err is human, to forgive, divine.'

In [27]:
y = re.search("forget", txt)
print(y)

None

## 7. Split at each white-space character using split( ) function

In [28]:
txt = "The rain in Spain"
txt

'The rain in Spain'

In [29]:
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [30]:
txt = "Early to bed, early to rise, makes Jack healthy, wealthy and wise."
txt

'Early to bed, early to rise, makes Jack healthy, wealthy and wise.'

In [31]:
y = re.split("\s", txt)
print(y)

['Early', 'to', 'bed,', 'early', 'to', 'rise,', 'makes', 'Jack', 'healthy,', 'wealthy', 'and', 'wise.']

## 8. Split the string only at the first/ith occurrence

In [32]:
txt = "The rain in Spain"
txt

'The rain in Spain'

In [33]:
x = re.split("\s", txt, 1)
print(x)

['The', 'rain in Spain']

In [34]:
txt = "Early to bed, early to rise, makes Jack healthy, wealthy and wise."
txt

'Early to bed, early to rise, makes Jack healthy, wealthy and wise.'

In [35]:
y = re.split("\s", txt, 4)
print(y)

['Early', 'to', 'bed,', 'early', 'to rise, makes Jack healthy, wealthy and wise.']

## 9. Replace every white-space character/other character with the number 9 using the sub( ) function

In [36]:
txt = "The rain in Spain"
txt

'The rain in Spain'

In [37]:
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [38]:
txt = "Alas. We have won the world cup."
txt

'Alas. We have won the world cup.'

In [39]:
y = re.sub("\.", "!", txt)
print(y)

Alas! We have won the world cup!

## 10. Replace the first 2 occurrences

In [40]:
txt = "The rain in Spain"
txt

'The rain in Spain'

In [41]:
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

In [42]:
txt = "United we stand, divided we fall."
txt

'United we stand, divided we fall.'

In [43]:
y = re.sub("\s", "-", txt, 3)
print(y)

United-we-stand,-divided we fall.

## 11. Do a search that will return a Match Object

In [44]:
txt = "The rain in Spain"
txt

'The rain in Spain'

In [45]:
x = re.search("ai", txt)
print(x)

<re.Match object; span=(5, 7), match='ai'>

In [46]:
txt = "You are a great person, you are capable of anything!"
txt

'You are a great person, you are capable of anything!'

In [47]:
y = re.search("are", txt)
print(y)

<re.Match object; span=(4, 7), match='are'>

## 12. Print the position (start- and end-position) of the first match occurrence

In [48]:
txt = "The rain in Spain"
txt

'The rain in Spain'

In [49]:
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [50]:
txt = "We are proud of our nation!"
txt

'We are proud of our nation!'

In [51]:
y = re.search(r"\bn\w+", txt)
print(y.span())

(20, 26)

## 13. Print the string passed into the function

In [52]:
txt = "The rain in Spain"
txt

'The rain in Spain'

In [53]:
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [54]:
txt = "We are proud of our nation!"
txt

'We are proud of our nation!'

In [55]:
y = re.search(r"\bn\w+", txt)
print(y.string)

We are proud of our nation!

## 14. Print the part of the string where there was a match

In [56]:
txt = "The rain in Spain"
txt

'The rain in Spain'

In [57]:
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain

In [58]:
txt = "We are proud of our nation!"
txt

'We are proud of our nation!'

In [59]:
y = re.search(r"\bn\w+", txt)
print(y.group())

nation

---