# NLP - Regular Expression Exercise - Programiz

In [1]:
import re

## 1. Use re.match() function to search pattern within the test_string. The method returns a match object if the search is successful. If not, it returns None.

In [2]:
pattern = '^a...s$'
test_string = 'abyss'

In [3]:
result = re.match(pattern, test_string)

In [4]:
if result:
  print("Search successful.")
else:
  print("Search unsuccessful.")

Search successful.

## 2. Use findall( ) method to extract numbers from a string

In [5]:
string = 'hello 12 hi 89. Howdy 34'
string

'hello 12 hi 89. Howdy 34'

In [6]:
pattern = '\d+'

In [7]:
result = re.findall(pattern, string) 
print(result)

['12', '89', '34']

## 3. Use split( ) method to split the string where there is a match and return a list of strings where the splits have occurred

In [8]:
string = 'Twelve:12 Eighty nine:89.'
string

'Twelve:12 Eighty nine:89.'

In [9]:
pattern = '\d+'

In [10]:
result = re.split(pattern, string) 
print(result)

['Twelve:', ' Eighty nine:', '.']

## 4. Split at second occurrence

In [11]:
string = 'Twelve:12 Eighty nine:89 Nine:9.'
string

'Twelve:12 Eighty nine:89 Nine:9.'

In [12]:
pattern = '\d+'

In [13]:
result = re.split(pattern, string, 2) 
print(result)

['Twelve:', ' Eighty nine:', ' Nine:9.']

## 5. Remove all whitespace charcters from multiline string

In [14]:
string = 'abc 12\
de 23 \n f45 6'
string

'abc 12de 23 \n f45 6'

In [15]:
pattern = '\s+'
replace = ''

In [16]:
new_string = re.sub(pattern, replace, string,5) 
print(new_string)

abc12de23f456

## 6. Remove all whitespace characters from single line string

In [17]:
string = 'abc 12\ de 23 f45 6'
string

'abc 12\\ de 23 f45 6'

In [18]:
pattern = '\s+'
replace=''

In [19]:
new_string = re.subn(pattern, replace, string) 
print(new_string)

('abc12\\de23f456', 5)

## 7. Searh if a patten is present ina strinG

In [20]:
string = "Python is fun"
string

'Python is fun'

In [21]:
match = re.search('\APython', string)

In [22]:
if match:
  print("pattern found inside the string")
else:
  print("pattern not found")

pattern found inside the string

## 8. Search for a pattern in a string and extract the pattern if found, also use other properties of match( ) method

In [23]:
string = '39801 356, 2102 1111'
string

'39801 356, 2102 1111'

In [24]:
pattern = '(\d{3}) (\d{2})'

In [25]:
match = re.search(pattern, string)

In [26]:
if match:
  print(match.group())
else:
  print("pattern not found")

801 35

In [27]:
match.groups()

('801', '35')

In [28]:
match.start()
match.end()

8

In [29]:
match.span()

(2, 8)

In [30]:
# The re attribute of a matched object returns a regular expression object.
# Similarly, string attribute returns the passed string.
match.re

re.compile(r'(\d{3}) (\d{2})', re.UNICODE)

In [31]:
match.string

'39801 356, 2102 1111'

In [32]:
string = '\n and \r are escape sequences.'

result = re.findall(r'[\n\r]', string) 
print(result)

['\n', '\r']

---